<div class="center hero-unit", style="color:teal">
<h1>Welcome to Methods Mail</h1>
<body>
<center><%= link_to "Sign up now!", new_user_path, class: "btn btn-large btn-primary" %></center>
</body>
<div>