<title>Show contact</title>
<h1>Show group contacts</h1>

<% @user.contacts.each do |contact| %>
	<% if contact.group_name == @viewname %>
	<%= contact.name %>
	<%= contact.email %>
	<% end %>
<% end %>
<br>
<br>
<br>
<br>
<br>
<br>
<%= link_to 'New contact', new_user_contact_path(@user) %>

