<title><%= @user.name %></title>
<% @OutputName = [] %>
<% @OutputName = @user.name.split(" ") %>
<h1>Welcome <%= @OutputName[0] %></h1>
<br>
<br>
<br>
<h3>Contacts</h3>

<%= link_to 'New contact', new_user_contact_path(@user) %>
<%= link_to 'Log out', session_path, method: "delete" %>