<title><%= @user.name %></title>
<% @OutputName = [] %>
<% @OutputName = @user.name.split(" ") %>
<h1>Welcome <%= @OutputName[0] %></h1>
<br>
<br>
<br>
<h3>Contacts</h3>

<% @user.contacts.each do |contact|%>
<% if contact.group == "default" %>
	<%= contact.name  %>
	<%= contact.email %>
	<% end %>
<% end %>

